src/main/python/conf/integra.1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="abstractResultsPageable" type="abstractResultsPageable"/>
  <xs:element name="configuration" type="configuration"/>
  <xs:element name="configurations" type="configurations"/>
  <xs:element name="entityPageRequest" type="entityPageRequest"/>
  <xs:element name="license" type="license"/>
  <xs:element name="provider" type="provider"/>
  <xs:element name="providerAction" type="providerAction"/>
  <xs:element name="providerActions" type="providerActions"/>
  <xs:element name="providerInput" type="providerInput"/>
  <xs:element name="providerInputField" type="providerInputField"/>
  <xs:element name="providerOutput" type="providerOutput"/>
  <xs:element name="outputField" type="providerOutputField"/>
  <xs:element name="providerOutputs" type="providerOutputs"/>
  <xs:element name="providerTag" type="providerTag"/>
  <xs:element name="providers" type="providers"/>
  <xs:element name="scheduleTag" type="scheduleTag"/>
  <xs:element name="schedules" type="schedules"/>
  <xs:element name="tag" type="tag"/>
  <xs:element name="tags" type="tags"/>
  <xs:element name="workflow" type="workflow"/>
  <xs:element name="workflowAction" type="workflowAction"/>
  <xs:element name="workflowActionSearch" type="workflowActionSearch"/>
  <xs:element name="workflowActionTag" type="workflowActionTag"/>
  <xs:element name="workflowActions" type="workflowActions"/>
  <xs:element name="workflowStep" type="workflowStep"/>
  <xs:element name="workflowTag" type="workflowTag"/>
  <xs:element name="workflowTransaction" type="workflowTransaction"/>
  <xs:element name="workflows" type="workflows"/>
  <xs:element name="schedule" type="schedule"/>
  <xs:element name="scheduleResult" type="scheduleResult"/>
  <xs:element name="scheduleResultPageable" type="scheduleResultPageable"/>
  <xs:element name="scheduleResults" type="scheduleResults"/>
  <xs:element name="recurrenceRange" type="recurrenceRange"/>
  <xs:element name="cronTask" type="cronTask"/>
  <xs:element name="dailyTask" type="dailyTask"/>
  <xs:element name="hourlyTask" type="hourlyTask"/>
  <xs:element name="minutesTask" type="minutesTask"/>
  <xs:element name="monthlyTask" type="monthlyTask"/>
  <xs:element name="runOnceTask" type="runOnceTask"/>
  <xs:element name="secondsTask" type="secondsTask"/>
  <xs:element name="simpleTask" type="simpleTask"/>
  <xs:element name="task" type="task"/>
  <xs:element name="weeklyTask" type="weeklyTask"/>
  <xs:element name="appInfo" type="appInfo"/>
  <xs:complexType name="abstractResultsPageable" abstract="true">
    <xs:sequence>
      <xs:element name="pageSize" type="xs:int" minOccurs="1"/>
      <xs:element name="totalPages" type="xs:int" minOccurs="1"/>
      <xs:element name="totalRecords" type="xs:long" minOccurs="1"/>
      <xs:element name="currentPageTotal" type="xs:int" minOccurs="1"/>
      <xs:element name="currentPage" type="xs:int" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element name="license" type="license" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurations">
    <xs:sequence>
      <xs:element name="configuration" type="configuration" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entityPageRequest">
    <xs:sequence>
      <xs:element name="direction" type="xs:string" minOccurs="0"/>
      <xs:element name="pageSize" type="xs:int" minOccurs="1"/>
      <xs:element name="page" type="xs:int" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="license">
    <xs:sequence>
      <xs:element name="license" type="xs:string" minOccurs="0"/>
      <xs:element name="expiration" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="providers" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="provider">
    <xs:sequence>
      <xs:element name="port" type="xs:int" minOccurs="1"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="reachable" type="xs:boolean" minOccurs="0"/>
      <xs:element name="hostname" type="xs:string" minOccurs="0"/>
      <xs:element name="timeout" type="xs:int" minOccurs="1"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
      <xs:element name="secured" type="xs:boolean" minOccurs="0"/>
      <xs:element name="tags" type="providerTag" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerAction">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="pipes" type="providerInput" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
      <xs:element name="output" type="providerOutput" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="input" type="providerInput" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerActions">
    <xs:sequence>
      <xs:element name="providerAction" type="providerAction" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerInput">
    <xs:sequence>
      <xs:element name="inputFields" type="providerInputField" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="index" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerInputField">
    <xs:sequence>
      <xs:element name="index" type="xs:int" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="dataType" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="required" type="xs:boolean" minOccurs="1"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerOutput">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="outputFields" type="providerOutputField" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerOutputField">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
      <xs:element name="displayName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerOutputs">
    <xs:sequence>
      <xs:element name="providerOutputs" type="providerOutput" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="providerTag">
    <xs:complexContent>
      <xs:extension base="tag"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="providers">
    <xs:sequence>
      <xs:element name="provider" type="provider" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scheduleTag">
    <xs:complexContent>
      <xs:extension base="tag"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="schedules">
    <xs:sequence>
      <xs:element name="schedule" type="schedule" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tag">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tags">
    <xs:sequence>
      <xs:element name="tag" type="tag" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflow">
    <xs:sequence>
      <xs:element name="onSuccessWorkflow" type="workflow" minOccurs="0"/>
      <xs:element name="workflowSteps" type="workflowStep" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="onFailureWorkflow" type="workflow" minOccurs="0"/>
      <xs:element name="tags" type="workflowTag" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="schedules" type="schedule" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflowAction">
    <xs:sequence>
      <xs:element name="workflowTransaction" type="workflowTransaction" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="providerAction" type="providerAction" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="provider" type="provider" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="tags" type="workflowActionTag" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflowActionSearch">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="tags" type="workflowActionTag" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflowActionTag">
    <xs:complexContent>
      <xs:extension base="tag"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="workflowActions">
    <xs:sequence>
      <xs:element name="workflowAction" type="workflowAction" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflowStep">
    <xs:sequence>
      <xs:element name="pipe" type="xs:boolean" minOccurs="0"/>
      <xs:element name="step" type="xs:int" minOccurs="0"/>
      <xs:element name="target" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="uuid" type="xs:string" minOccurs="0"/>
      <xs:element name="workflowAction" type="workflowAction" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflowTag">
    <xs:complexContent>
      <xs:extension base="tag"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="workflowTransaction">
    <xs:sequence>
      <xs:element name="scheduleId" type="xs:long" minOccurs="1"/>
      <xs:element name="workflowId" type="xs:long" minOccurs="1"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="license" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workflows">
    <xs:sequence>
      <xs:element name="workflow" type="workflow" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="schedule">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="workflows" type="workflow" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tasks" type="task" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="enabled" type="xs:boolean" minOccurs="1"/>
      <xs:element name="priority" type="xs:int" minOccurs="1"/>
      <xs:element name="tags" type="scheduleTag" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scheduleResult">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="workflow" type="workflow" minOccurs="0"/>
      <xs:element name="schedule" type="schedule" minOccurs="0"/>
      <xs:element name="startedAt" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="endedAt" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="outputs" type="providerOutput" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="scheduleResultStatus" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scheduleResultPageable">
    <xs:complexContent>
      <xs:extension base="abstractResultsPageable">
        <xs:sequence>
          <xs:element name="entityWrapper" type="scheduleResults" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="scheduleResults">
    <xs:sequence>
      <xs:element name="scheduleResults" type="scheduleResult" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recurrenceRange">
    <xs:sequence>
      <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cronTask">
    <xs:complexContent>
      <xs:extension base="task">
        <xs:sequence>
          <xs:element name="cronExpression" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dailyTask">
    <xs:complexContent>
      <xs:extension base="simpleTask">
        <xs:sequence>
          <xs:element name="reoccurInDays" type="xs:int" minOccurs="1"/>
          <xs:element name="everyWeekDays" type="xs:boolean" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="hourlyTask">
    <xs:complexContent>
      <xs:extension base="simpleTask">
        <xs:sequence>
          <xs:element name="reoccurInHours" type="xs:int" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="minutesTask">
    <xs:complexContent>
      <xs:extension base="simpleTask">
        <xs:sequence>
          <xs:element name="reoccurInMinutes" type="xs:int" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="monthlyTask">
    <xs:complexContent>
      <xs:extension base="simpleTask">
        <xs:sequence>
          <xs:element name="dayOfMonth" type="xs:int" minOccurs="1"/>
          <xs:element name="dayOfWeek" type="xs:int" minOccurs="0"/>
          <xs:element name="recurrence" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="runOnceTask">
    <xs:complexContent>
      <xs:extension base="task"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="secondsTask">
    <xs:complexContent>
      <xs:extension base="simpleTask">
        <xs:sequence>
          <xs:element name="reoccurInSeconds" type="xs:int" minOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="simpleTask" abstract="true">
    <xs:complexContent>
      <xs:extension base="task"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="task" abstract="true">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean" minOccurs="1"/>
      <xs:element name="taskHour" type="xs:int" minOccurs="1"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="period" type="xs:string" minOccurs="0"/>
      <xs:element name="recurrenceRange" type="recurrenceRange" minOccurs="0"/>
      <xs:element name="taskMinute" type="xs:int" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="weeklyTask">
    <xs:complexContent>
      <xs:extension base="simpleTask">
        <xs:sequence>
          <xs:element name="daysOfWeek" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="appInfo">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
